.page-login {
    width: 100%;
    height: 100%;
    background: rgb(118,113,214);
    background: linear-gradient(27deg, rgba(118,113,214,1) 34%, rgba(73,23,190,1) 100%);
    
}
.title{
    font-weight: 600;
    font-size: 2rem;
    color: #ffffff;
    
    text-transform: uppercase;
    transition: 0.5s;
 }
 .logo{
    height: 8rem;
    width: 8rem;
 }

 .form {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }
 .logo-form {
    width: 70%;

 }
 .login-form {
    margin-top: 10vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .login-button {
    width: 20vw;
    margin-top: 5%;
    border-radius: 5vh;
    background: #97eb7e;
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;

    background-image: linear-gradient(to right, #56ab2f 0%, #98c95d  51%, #56ab2f  100%);
    padding: 1vh;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
     
 }